@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-surface-default: #ffffff;
  --color-surface-light: #f7f8fa;
  --color-surface-moderate: #edeff2;
  --color-surface-dark: #626366;

  --color-gray-05: #f7f8fa;
  --color-gray-10: #edeff2;
  --color-gray-20: #626366;
  --color-gray-30: #47484b;
  --color-gray-40: #323336;
  --color-gray-50: #212224;
  --color-gray-60: #111214;
  --color-gray-70: #010204;

  --color-blue-05: #ebf1ff;
  --color-blue-10: #ccddff;
  --color-blue-20: #b2cbff;
  --color-blue-30: #8cb1ff;
  --color-blue-40: #6697ff;
  --color-blue-50: #4d83f7;
  --color-blue-60: #306bea;
  --color-blue-70: #2e60cf;
  --color-blue-80: #2e54b6;
  --color-blue-90: #2e489e;

  --color-green-05: #edfaee;
  --color-green-10: #d8f0d9;
  --color-green-20: #bce5bf;
  --color-green-30: #98d69c;
  --color-green-40: #68c16e;
  --color-green-50: #47a54e;
  --color-green-60: #2b882d;
  --color-green-70: #256e21;
  --color-green-80: #286220;
  --color-green-90: #25541a;

  --color-orange-05: #ffeed9;
  --color-orange-10: #ffe3bf;
  --color-orange-20: #ffd399;
  --color-orange-30: #ffc273;
  --color-orange-40: #ffac40;
  --color-orange-50: #ff9c1a;
  --color-orange-60: #fa8e01;
  --color-orange-70: #eb7e01;
  --color-orange-80: #d96d01;
  --color-orange-90: #bf5701;

  --color-red-05: #ffe8e7;
  --color-red-10: #ffd6d5;
  --color-red-20: #ffb6b5;
  --color-red-30: #ff908d;
  --color-red-40: #ff6662;
  --color-red-50: #fb443f;
  --color-red-60: #ec1004;
  --color-red-70: #d51a11;
  --color-red-80: #b01912;
  --color-red-90: #871814;

  --color-violet-05: #f0eafe;
  --color-violet-10: #e4d7fd;
  --color-violet-20: #ccb1fa;
  --color-violet-30: #ba92f5;
  --color-violet-40: #a972ef;
  --color-violet-50: #9a51e7;
  --color-violet-60: #7d43d3;
  --color-violet-70: #673bc6;
  --color-violet-80: #582cbd;
  --color-violet-90: #582cbd;
}

@layer base {
  * {
    @apply bg-white text-gray-500 border-gray-300;
  }
}
